/* Universal stylings */

html {
  box-sizing: border-box;
  color: #ee07e2c4;
  padding: 0.1px;
}

section {
  height: 5000px;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  font-family: monospace;
  margin: 0;
}

input,
textarea {
  font-family: inherit;
  font-size: 16px;
}

/* Top nav and footer stylings */
h1 {
  text-align: center;
  font-size: 40px;
  text-shadow: 2.5px 2.5px #2a022a;
  margin: 15px;
}

h2 {
  text-align: center;
  vertical-align: center;
  font-size: 20px;
  color: #b30fa565;
  text-shadow: 3px 3px #bc03f5;
  margin: 0px 0px 0px 0px;
}

a {
  color: #e00fe7;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 3px;
  text-decoration: underline;
  padding: 8px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  background: rgba(253, 4, 241, 0.37);
  color: #231627;
}

.navcontainer {
  width: auto;
  max-width: 750px;
  margin: 0 auto;
  padding: 10px;
}

.flex-nav ul {
  border: 4px outset #86057b;
  border-radius: 5px;
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
  box-shadow: 3px 3px rgba(230, 0, 251, 0.301);
}

.flex-nav li {
  flex: 1;
  background: rgba(0, 0, 0, 0.644);
}

/* Footer specific stylings */
.flex-footer ul {
  border: 4px outset #86057b;
  border-radius: 5px;
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 3px 3px rgba(230, 0, 251, 0.301);
}

.flex-footer li {
  flex: 1;
  background: rgba(0, 0, 0, 0.35);
}

h3 {
  text-align: center;
  vertical-align: center;
  font-size: 20px;
  color: #11e923;
  text-shadow: 3px 3px #052e168c;
  margin: 15px 0px 0px 0px;
}

/* Main Items */
/* Home */
.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__card:hover {
  transition: all 0.85s;
  opacity: 1;
  size: 110vh;
}

.home__card {
  border: 4px outset #86057b;
  box-shadow: 3px 3px rgba(230, 0, 251, 0.301);
  border-radius: 10px;
  height: 500px;
  max-height: 90vw;
  max-width: 50%;
  min-width: 325px;
  flex: 0.5 3 10px;
  margin: 15px;
  width: 23%;
  margin-top: 30px;
  opacity: 0.7;
}

.home__text {
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
  color: #cc5eff;
  font-size: 16px;
  font-weight: bold;
  border: 4px outset #86057b;
  border-radius: 7px;
  max-width: 40%;
  min-width: 250px;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}

/* About */
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__card {
  border: 5px outset rgba(158, 5, 163, 0.541);
  border-radius: 10px;
  height: 350px;
  max-width: 20%;
  min-width: 325px;
  flex: 0.5 3 10px;
  margin: 15px;
  width: 75%;
}

.about__text {
  background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
  color: #cc5eff;
  font-size: 16px;
  border: 3px outset #cc5eff80;
  border-radius: 7px;
  max-width: 40%;
  min-width: 250px;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}

details > summary {
  cursor: pointer;

  margin: 20px;
  padding: 10px;
}

/* Projects */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 100vh -1px;
  flex-wrap: wrap-reverse;
  max-width: 1200px;
  margin: 10px auto;
}

.card {
  border: 5px outset rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 16px;
  flex: 1 3 150px;
  margin: 30px;
  padding: 20px;
  width: 75%;
  max-height: 75%;
  transition: all 1.3s ease-in-out;
  position: relative;
  z-index: 0;
}

header {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  transition: all 0.75s;
}

.project-text {
  background-color: rgba(0, 0, 0, 0.918); /* Black w/opacity/see-through */
  color: #cc5eff;
  font-size: 17px;
  font-weight: bold;
  border: 3px outset rgba(243, 100, 224, 0.287);
  position: relative;
  top: 40%;
  left: 75%;
  transform: translate(-30%, -40%);
  z-index: 1;
  max-width: 50%;
  min-width: 200px;
  padding: 10px;
  text-align: center;
  transition: all 2s ease-in-out;
}

.project-text:hover {
  border: 8px outset #cc5eff;
  border-radius: 15px;
  font-size: 13px;
  transition: all 0.85s;
  padding-bottom: 20px;
  animation-delay: 20ms;
  max-width: 20%;
  min-height: 100%;
  min-width: 220px;
  padding: 10px;
  transform: translate(20%, -60%);
  word-break: break-word;
  word-wrap: 2s ease-in-out;
}

.projects__bottom_spacing {
  height: 350px;
}

.card1 {
  /* background-image: url(../../assets/images/Horiseon.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 450px;
}

.card:hover {
  transform: scaleX(1.3) scaleY(1.3);
  opacity: 2;
  position: relative;
  z-index: 1;
  background-color: rgb(63, 5, 73);
}

.card1 header:hover,
.card2 header:hover,
.card3 header:hover,
.card4 header:hover,
.card5 header:hover,
.card6 header:hover {
  border: 8px outset #cc5eff;
  border-radius: 15px;
  font-size: 26px;
  transition: all 0.85s;
  padding-bottom: 20px;
  animation-delay: 20ms;
  top: -50px;
  right: 90px;
}

.card1 header {
  border: 5px solid #000000;
  border-radius: 10px;
  background: rgba(0, 0, 0);
  position: relative;
  padding: 5px;
  top: -50px;
  right: 30px;
  width: 250px;
  filter: none;
}

.card2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 450px;
}

.card2 header {
  border: 5px solid #000000;
  border-radius: 10px;
  background: rgba(0, 0, 0);
  position: relative;
  padding: 5px;
  top: -50px;
  right: 30px;
  width: 250px;
  filter: none;
}

.card3 {
  background-image: url("../../assets/images/jate.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  max-height: 450px;
}

.card3 header {
  border: 5px solid #000000;
  border-radius: 10px;
  background: rgba(0, 0, 0);
  position: relative;
  padding: 5px;
  top: -50px;
  right: 30px;
  width: 250px;
}

.card4 {
  /* background-image: url(../../assets/images/Note\ Taker.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 450px;
}

.card4 header {
  border: 5px solid #000000;
  border-radius: 10px;
  background: rgba(0, 0, 0);
  position: relative;
  padding: 5px;
  top: -50px;
  right: 30px;
  width: 250px;
  filter: none;
}

.card5 {
  /* background-image: url(../../assets/images/SMAPI.PNG); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 450px;
}

.card5 header {
  border: 5px solid #000000;
  border-radius: 10px;
  background: rgba(0, 0, 0);
  position: relative;
  padding: 5px;
  top: -50px;
  right: 30px;
  width: 250px;
  filter: none;
}

.card6 {
  /* background-image: url(../../assets/images/DocHubExample.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 450px;
}

.card6 header {
  border: 5px solid #000000;
  border-radius: 10px;
  background: rgba(0, 0, 0);
  position: relative;
  padding: 5px;
  top: -50px;
  right: 30px;
  width: 250px;
  filter: none;
}

/* Contact */
.contact__card {
  text-align: center;
  border: 5px solid rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  height: 350px;
  max-width: 40%;
  min-width: 325px;
  flex: 0.5 3 10px;
  margin: 15px;
  width: 75%;
  padding: 10px;
  font-size: 24px;
  line-height-step: 10px;
  word-wrap: break-word;
}

.form__spacing {
  padding: 15px;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.MainContaining {
  background-image: radial-gradient(ellipse at top, #ea04ff3d, transparent),
    radial-gradient(ellipse at bottom, #3c00ff31, transparent);
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgba(152, 1, 253, 0.178) 10%,
    rgba(0, 255, 98, 0.205) 30%,
    rgba(70, 51, 238, 0.13) 55%,
    rgba(6, 255, 139, 0.027) 70%,
    rgba(163, 51, 238, 0.013) 100%
  );
}

/* Media queries for screen sizes */
/* Mobile */
@media all and (max-width: 768px) {
  .flex-nav ul,
  .flex-footer ul {
    line-height: 30px;
    flex-direction: column;
  }

  .project-text {
    top: 40%;
    left: 60%;
  }
}
